.catering-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catering-title {
    font-family: 'Din SemiCond Bold';
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
    color: var(--color-primary);
    text-shadow: 3px 3px var(--color-primary-darker);
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
    transition: var(--transition);
}

.catering-description {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    max-width: 70%;
    margin-bottom: 2rem;
    text-align: center;
    transition: var(--transition);
}

.catering-list-title {
    font-family: 'Din SemiCond Bold';
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    color: var(--color-tertiary);
    text-shadow: 3px 3px var(--color-primary-dark);
    margin-top: 4rem;
    margin-bottom: 0;
    padding: 0rem 2rem;
    transition: var(--transition);
}

.catering-subheading {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-family: 'Din SemiCond Bold';
    text-transform: uppercase;
    font-size: 1.25rem;
    color: var(--color-primary-darker);
    letter-spacing: 0.5px;
}

.catering-persuade {
    margin: 2rem;
    padding-bottom: 3rem;
    width: 90%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: var(--color-secondary);
}

.catering-persuade-list {
    max-width: 70vw;
    width: 90%;
    background: var(--background-color);
    margin: 2rem 2rem;
    padding: 3rem 3rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    border: 6px solid var(--color-primary-darker);
}

.catering-list-item {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 4rem;
    margin-bottom: 1.5rem;
}

.catering-list-description {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.75rem;
    margin-top: 0;
    font-weight: 400;
    font-size: 1rem;
    transition: var(--transition);
}

.catering-btn {
    cursor: pointer;
    margin-top: 1rem;
    background: var(--color-primary);
    color: var(--color-primary-darker);
    padding: 0.4rem 2rem;
    padding-top: 0.7rem;
    border-radius: 10px;
    border: 3px solid var(--color-primary-darker);
    font-family: 'Din SemiCond Bold';
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    transition: var(--transition);
}

.catering-btn:hover {
    background: var(--color-secondary);
    color: var(--color-tertiary);
}

/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
    .catering-persuade-list {
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
    .catering-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 0rem;
    }
    .catering-list-description {
        text-align: center;
        margin-bottom: 1rem;
    }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 660px) {
    .catering-persuade {
        padding-bottom: 0rem;
    }
    .catering-persuade-list {
        padding: 2rem 2rem;
        padding-bottom: 1rem;
    }
 
}