/* imported website fonts */
@font-face {
    font-family: 'Din SemiCond Bold';
    src: url('./fonts/urw-din-semicondensed-bold.otf') format('truetype');
}
@font-face {
    font-family: 'Quincy CF Medium Bold Italic';
    src: url('./fonts/Fontspring-DEMO-quincycf-extrabolditalic.otf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* css variables */
:root {
    /* site colors */
    --background-color: #fff8f2;
    --color-primary: #6bb381;
    --color-primary-dark: #3e5d41;
    --color-primary-darker: #0c2618;
    --color-secondary: #f786aa;
    --color-tertiary: #ffffff;
    /* transition */
    --transition: all 400ms ease;
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
}